<div id="panel">
  <header class="${this.hasMultipleChilds ? '' : 'hidden'}">
    <span i18n="${this.title}"></span>
    <button id="close" class="gg-button gg-small">
      <img alt="Close icon" src="icons/close.svg" />
    </button>
  </header>
  <div id="gutter"></div>
  <div class="main">
    <slot name="main"></slot>
  </div>
</div>
