#panel {
  height: 100%;
  overflow: auto;
  min-width: 20rem; /* For and from parent panel */
}

.hidden {
  display: none;
}

#content {
  background: var(--bkg-color);
  padding: 1.5rem;
  margin: 0;
}

#content .message {
  text-align: center;
  width: 100%;
}

#content .message * {
  margin: 0.25rem;
}

#content div.option {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

#content #export-pdf {
  float: right;
  margin-top: 1rem;
  height: 3rem;
  width: 8rem;
}

#content button {
  background-color: var(--bkg-color);
  color: var(--text-color);
  border-radius: 3px;
  outline: 0;
  border: solid 1px var(--text-color);
  cursor: pointer;
}

#content button:hover {
  background-color: var(--bkg-color-grad2);
}

#content #print-list {
  margin-top: 5rem;
}

#print-list .print-item {
  position: relative;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: solid 1px var(--text-color);
  color: var(--text-color);
}

#print-list .print-item .container {
  border: none;
  display: inline;
  text-align: unset;
  width: 100%;
}

#print-list .print-item .cancel {
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: var(--text-color-grad1);
  border: none;
  background-color: transparent;
}

.print-item .cancel i:before {
  content: '\f00d';
}

.print-item .cancel:hover {
  border-color: var(--text-color);
  color: var(--text-color);
}

.print-item i.status {
  margin-right: 1rem;
  float: left;
  width: 3rem;
  text-align: center;
}

.print-item:has(.success):hover {
  background-color: var(--bkg-color-grad2);
  cursor: pointer;
}

.print-item i.status::before {
  line-height: 3rem;
  display: block;
}

.print-item p {
  line-height: 1.3rem;
}

.print-item p.time {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 0.5rem;
}

label {
  color: var(--text-color);
  width: 8rem;
  line-height: 2.5rem;
  margin-right: 0.5rem;
  flex-grow: 1;
}

label ~ * {
  flex-grow: 1;
  border-radius: 3px;
  overflow: hidden;
}

label:after {
  content: ' :';
}

select,
textarea,
input {
  font-family: Arial, sans-serif;
  appearance: none;
  outline: 0;
  box-shadow: none;
  padding: 0.5rem;
  color: var(--text-color);
  background-color: var(--bkg-color);
  border: solid 1px var(--text-color);
  background-image: none;
  cursor: pointer;
}

textarea {
  height: 6rem;
}

.w-full {
  width: 100%;
}

.rotation {
  display: flex;
  gap: 0.5rem;
}

.rotation input {
  appearance: auto;
  flex-grow: 1;
  overflow: hidden;
  max-width: 50%;
}

.rotation input[type='range'] {
  padding-left: 0;
  padding-right: 0;
  flex-grow: 2;
}

input[type='checkbox'] {
  appearance: auto;
  flex-grow: 0;
  max-width: 6rem;
  overflow: visible;
}

/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 13rem;
  height: 2.5rem;
  border-radius: 3px;
  overflow: hidden;
  flex-grow: 1;
}

.select select {
  flex-grow: 1;
}

.select::after {
  content: '\25bc';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.7rem;
  border: solid 1px var(--text-color);
  border-left-width: 0;
  color: var(--text-color);
  pointer-events: none;
}
