.content {
  display: flex;
}

input {
  border: solid 1px var(--bkg-color-grad1);
  border-radius: 0.25rem;
  background-color: var(--bkg-color);
  padding-left: 1rem;
  color: var(--text-color);
  font-size: 0.9rem;
}

button {
  border: none;
  border-right: solid 1px var(--bkg-color);
  width: 2.3rem;
  height: 2.3rem;
  line-height: 2.3rem;
  background-color: var(--text-color-grad2);
  color: var(--text-color);
  padding: 0;
  cursor: pointer;
  margin: 0;
  display: inline-block;
}

button:hover {
  background-color: var(--text-color-grad1);
}
