<link rel="stylesheet" href="styles/common.css" />
<link rel="stylesheet" href="lib/tabulator-tables/tabulator.min.css" />
<link rel="stylesheet" href="../../../node_modules/tabulator-tables/dist/css/tabulator.css" />

<div id="panel">
  <div id="content">
    <div id="header">
      <div class="tab-panel">
        ${this.getTabHeaders().map((th) => uHtml`
        <button
          id="${th.id}"
          i18n="${th.text}"
          class="${th.active ? 'tab active' : 'tab'}"
          .active="${th.active}"
          onclick="${() => this.displayGrid(th.id, true)}"></button>
        `)}
      </div>
      <div class="selection-panel">
        <button
          ?hidden="${!this.showCsvButton}"
          class="selection-btn"
          onclick="${() => this.zoomToSelection()}"
          i18n="Zoom to"></button>
        <button class="selection-btn" onclick="${() => this.invertSelection()}" i18n="Invert selection"></button>
        <button class="selection-btn" onclick="${() => this.selectNone()}" i18n="Select none"></button>
        <button class="selection-btn" onclick="${() => this.selectAll()}" i18n="Select all"></button>
        <button
          ?hidden="${!this.showCsvButton}"
          class="selection-btn"
          onclick="${() => this.generateCSV()}"
          i18n="Generate CSV"></button>
      </div>
    </div>
    <div id="tabulator"></div>
  </div>
  <div id="gutter"></div>
  <button id="close" onclick="this.closePanel()">
    <img id="close" alt="close-icon" src="icons/close.svg" />
  </button>
</div>
