header {
  border-top: solid 1px #ddd;
  display: flex;
  align-items: center;
  height: 2rem;
}

.tool {
  display: none !important;
}

header:hover .tool {
  display: flex !important;
}

.tool.active {
  display: flex !important;
  opacity: 1 !important;
}

.label-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  overflow: auto;
}

.label-out-resolution span {
  font-style: italic;
}

.resolution-tool {
  margin-left: 0.5rem;
}

.legend {
  display: flex;
}

.legend img {
  height: fit-content;
}

.children {
  padding-left: 1.3rem;
  flex-basis: 100%;
  order: 10;
}

.dragAfter {
  border-bottom: dashed 1rem #ccc;
}

.dragBefore {
  border-top: dashed 1rem #ccc;
}
