.themes {
  display: flex;
  flex-wrap: wrap;
  width: 51rem;
  margin-top: 0;
  overflow-y: auto;
  max-height: 70vh;
  border: solid 1px #444;
  border-radius: 3px;
  padding: 1rem;
  background-color: var(--bkg-color);
  position: absolute;
}

.theme,
.custom-theme,
.new-theme {
  align-content: flex-end;
  position: relative;
  width: 9rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0.5rem;
  padding: 0;
}

.theme > img,
.custom-theme > button > img,
.new-theme > img {
  width: 100%;
}

button.select {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

button.select > img {
  height: 3rem;
  margin-bottom: 1rem;
}

button.delete {
  position: absolute;
  top: 0;
  right: 0;
}

.themes > button > span {
  display: inline-block;
  width: 9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  color: var(--text-color);
}
