<div id="draggable">
  <div id="header">
    <span i18n="About">About</span>
    <img id="close" alt="close-icon" src="icons/close.svg" />
  </div>
  <div id="content">
    <img class="logo" alt="GeoGirafe logo" src="${this.logo}" />
    <h3><span i18n="Version">Version</span>:&nbsp;<span>${this.version}</span></h3>
    <h3><span i18n="Build">Build</span>:&nbsp;<span>${this.build}</span></h3>

    <h3><span i18n="Date">Date</span>:&nbsp;<span>${this.date}</span></h3>
    <h3>
      <span i18n="Source">Source</span>:&nbsp;
      <a href="https://gitlab.com/geogirafe/gg-viewer" rel="noopener" target="_blank"
        >https://gitlab.com/geogirafe/gg-viewer</a
      >
    </h3>
  </div>
</div>
