.panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column-reverse;
  background: var(--bkg-color);
}

.menu {
  border-top: solid 1px #bbb;
  z-index: 1;
  display: flex;
}

.treeview-list {
  padding-top: 0.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
}

.spacer {
  flex-grow: 1;
}
